<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trickler</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body class="py-5 vh-100" style="background-color: #252525">
    <h2 class="text-light m-2 text-center"><b>Welcome to trikle.com</b></h2>

    <form
      class="col-4 text-light bg-dark m-auto py-4 card align-items-center"
      method="post"
    >
      {% csrf_token %}
      <div class="mb-3">
        <h3>Register here</h3>
      </div>

      {% if messages %} {% for message in messages %}
      <div class="alert alert-warning" role="alert">{{ message }}</div>
      {% endfor %} {% endif %}

      <div class="mb-3">
        <label class="form-label">First name</label>
        <input type="text" name="first_name" class="form-control" />
      </div>
      <div class="mb-3">
        <label class="form-label">Last name</label>
        <input type="text" name="last_name" class="form-control" />
      </div>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3">
        <p>if already have account <a href="/login">login here</a></p>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </body>
</html>
