{% extends "index_admin.html" %} {% block body %}

<div class="container mt-5 text-light">
  <h2>Attendance Records for {{ user.username }}</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Present</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for record in attendance_records %}
      <tr>
        <td>{{ record.date }}</td>
        <td>{{ record.present }}</td>
        <td>
          <a
            href="{% url 'edit_attendance' record.id %}"
            class="btn btn-warning"
            >Edit</a
          >
          <a
            href="{% url 'delete_attendance' record.id %}"
            class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}
